<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="Matt Gathu's Blog">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    {{> headers }}
  </head>
  <body>
    {{> nav }}
    {{~> page}}
    {{> footer }}
  </body>
</html>
